<md-card ng-cloak>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{statue.name}} | {{statue.category}}</span>
            <span class="md-subhead">{{statue.description}}</span>
        </md-card-title-text>
        <md-card-title-media>
            <img class="md-media-lg card-media" ng-src="https://unsplash.it/100" alt="{{statue.name}}">
        </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
        <md-button>Action1</md-button>
    </md-card-actions>
</md-card>