<div id="statues" ng-show="continue">
    <div class="statues-header">
        <md-content class="search-input">
            <md-input-container class="md-block" flex-gt-sm>
                    <label>Cauta statuie dupa cuvant cheie</label>
                    <input ng-model="search">
                    <ng-md-icon icon="search"></ng-md-icon>
            </md-input-container> 
        </md-content>
        <md-content class="tabs">
            <md-tabs md-dynamic-height md-border-bottom> 
                <md-tab label="{{tab.tabName}}" ng-repeat="tab in tabs">
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
    <div class="statues-container">
        <md-content layout-padding>
            <div ng-repeat="statue in statues | filter:search"
                 ui-sref="statue({id: statue.id})"
                 md-colspan-gt-sm="3" md-rowspan-gt-sm="3">
                <statue-card statue="statue"></statue-card>
            </div>
        </md-content>
    </div>
    <div class="statues-footer">
        
    </div>
</div>

