<div id="statues">
    <div class="statues-header" ng-class="filters[2].selected ? 'big' : 'small'">
        <md-content class="search-input">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Cauta statuie dupa cuvant cheie</label>
                <input ng-model="search.$">
                <ng-md-icon icon="search"></ng-md-icon>
            </md-input-container>
        </md-content>
        <md-content class="tabs">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="{{filter.name}}" ng-repeat="filter in filters track by $index" md-on-select="setSelectedFilters($index)">
                    <md-input-container ng-show="filters[2].selected">
                        <md-select ng-model="search.category" placeholder="Alege o categorie">
                            <md-option ng-value="category" ng-repeat="category in categories">{{category}}</md-option>
                        </md-select>
                    </md-input-container>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
    <div class="md-padding statues-container" layout="row" layout-wrap>
        <md-card ng-repeat="statue in statues | filter:search:strict | orderBy:orderBy">
            <statue-card statue="statue"></statue-card>
        </md-card>
    </div>
    <div class="statues-footer">
    </div>
</div>