#statues {
    display: flex;
    flex-direction: column;
}


#statues .statues-header {
    margin-top: 20px;
    border-top: 1px solid #e7e7e7;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
}

#statues .statues-header.small {
    height: 50px;
}

#statues .statues-header.big {
    height: 100px;
}

#statues .statues-header .search-input {
	flex-basis: 30%;
    overflow: hidden;
}

#statues .statues-header .search-input md-input-container {
    padding-top: 1px;
    margin-left: 20px;
}

#statues .statues-header .tabs {
	flex-basis: 70%;
}

#statues .statues-container {
    margin-top: 50px;
	flex-basis: 30%;
}

#statues .statues-footer {}