#statues {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

#statues .statues-header {
    margin-top: 20px;
    border-top: 1px solid #e7e7e7;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

#statues .statues-header.small {
    height: 50px;
}

#statues .statues-header.big {
    height: 100px;
}

#statues .statues-header .search-input {
	flex-basis: 30%;
    overflow: hidden;
}

#statues .statues-header .search-input md-input-container {
    padding-top: 1px;
    margin-left: 20px;
}

#statues .statues-header .tabs {
	flex-basis: 70%;
}

#statues .statues-container {
	flex-basis: 30%;
}

#statues .statues-footer {}